<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>LIMUまこっちゃん弁当</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" ;; rel="stylesheet">
    <style>
div{
 line-height: 1.2;
}
body {
 width: auto;
 -webkit-text-size-adjust: 100%;
  background-color:#e6ecf0;
}
#main{
 padding: 0 4%;
}
#login .container #login-row #login-column .login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
}
#login .container #login-row #login-column .login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column .login-box #login-form #register-link {
  margin-top: -85px;
}


    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">LIMUまこっちゃん弁当</a>
        </div>
    </div>
</nav>
<div class="container main" style=" margin-top: 60px;">
    <div class="login-box col-md-12">
        {% if error %}
        <label style="color:#ff0000;">{{ error }}</label>
        {% endif %}
        <form id="login-form" class="form" method="post">
            <div class="form-group">
                <label for="username" class="text-info">ID:</label><br>
                <input type="text" name="user_id" id="username" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" name="submit" class="btn btn-info btn-md" value="ログイン">
                <a href="/addaccount">
                    <button type="button" class="btn btn-default btn-md">新規アカウント作成</button>
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>